<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Granja Freedom</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <ng-container *ngIf="authService.isLogged()">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/listarCorrales" routerLinkActive="active">Corrales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/animal" routerLinkActive="active">Animales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/crearRestriccion" routerLinkActive="active">Restricciones</a>
          </li>
        </ul>
        
      </div>
    </ng-container>
    
    <ng-container *ngIf="!authService.isLogged(); else logged">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
        </ul>
        <form class="d-flex">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/auth/login" routerLinkActive="active">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/auth/register" routerLinkActive="active">Register</a>
            </li>
          </ul>
        </form>
      </div>
    </ng-container>

    <ng-template #logged>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" (click)="authService.logOut()" style="cursor: pointer;">Logout </a>
        </li>
      </ul>
    </ng-template>
    
    
  </div>
</nav>

<div class="container">
  <router-outlet>
   

  </router-outlet>

</div>
