<div class="container">
    <div class="card text-center">
        <div class="card-header">
           <div class="crear">
            Generar PDF :  
            <button type="button" (click)="generarPDF()" class="btn btn-success">Generar</button>
           </div>
        </div>
        <div class="card-footer" id="htmldata">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Peso</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Corral</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let animal of animales; index as i">
                        <th *ngIf="animal.type == 'Animal Carnivoro Peligroso'" style="background-color: rgb(248, 122, 122);">{{ i + 1 }}</th>
                        <td *ngIf="animal.type == 'Animal Carnivoro Peligroso'" style="background-color: rgb(248, 122, 122);">{{ animal.name }}</td>
                        <td *ngIf="animal.type == 'Animal Carnivoro Peligroso'" style="background-color: rgb(248, 122, 122);">{{ animal.age }}</td>
                        <td *ngIf="animal.type == 'Animal Carnivoro Peligroso'" style="background-color: rgb(248, 122, 122);">{{ animal.weight }}</td>
                        <td *ngIf="animal.type == 'Animal Carnivoro Peligroso'" style="background-color: rgb(248, 122, 122);">{{ animal.type }}</td>
                        <td *ngIf="animal.type == 'Animal Carnivoro Peligroso'" style="background-color: rgb(248, 122, 122);">{{ animal.corral }}</td>

                        <th *ngIf="animal.type != 'Animal Carnivoro Peligroso'" >{{ i + 1 }}</th>
                        <td *ngIf="animal.type != 'Animal Carnivoro Peligroso'" >{{ animal.name }}</td>
                        <td *ngIf="animal.type != 'Animal Carnivoro Peligroso'" >{{ animal.age }}</td>
                        <td *ngIf="animal.type != 'Animal Carnivoro Peligroso'" >{{ animal.weight }}</td>
                        <td *ngIf="animal.type != 'Animal Carnivoro Peligroso'" >{{ animal.type }}</td>
                        <td *ngIf="animal.type != 'Animal Carnivoro Peligroso'" >{{ animal.corral }}</td>

                      </tr>
                </tbody>
              </table>
        </div>
      </div>
</div>
